
body{
    margin: 0;
}

.main-register{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #201b2c;
    width: 100vw;
    height: 100vh;
}

.left-register{
width: 50vh;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.left-register > h1 {
    font-size: 3vw;
    color: #77ffc7; 
}

.left-register > img {
    height: 65vh;
}

.block-register{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100vh;
}

.card-register {
    width: 100%;
    background: #3c3351;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-register>h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 10px;
    background: #514869;
    color: f0ffffde;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: black;
}

.btn-register {
    width: 100%;
    padding: 10px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background:#00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #77ffc7;
}