
*{
  font-family: "Raleway", sans-serif;

}

.alinha{
 display: flex;
 flex-direction: column;

}
/*recomendados*/

.titulo {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    font-size: 1.9rem;
  }

  /* coloca a linha do lado */
  .titulo::before,.titulo::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #aba5a5;
  }

  /* tamanho da linha */
  .titulo::before {
    margin-right: .20em;
  }
  .titulo::after {
    margin-left: .20em;
  }

    
  .destaques{   /*container recomendados*/
    width: 96%;
    margin-top: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Tamanho da font do numero de qualidade  */
  .medidorQualidade{
    font-size: 1.9em;
    margin-left: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  /* move a estrela de qualidade do card */
  .estrelaRecomendado{
    margin-top: -4%;
  }

  .TamanhoImageCard{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .ajusteRecomendado{
    display: flex;
    flex-direction: c;
    gap: 10px;
    margin-top: 20px;

  }
  .cardes{  /*container cardes*/

    display: flex;
    gap: 6px;
    margin-left: 90px;
   
  }


  .letra{
    font-size: 13px;
  }


  /*tamnho da iagme no card  */ 
  .ibagemCard{
    width:100%;
    height: 50vh;
  }

  .ibagemCar2{
    width: 100%;
    height: 50vh;
  }

  .espaco{
    margin-left: 250px;
  }
  @media only screen and (max-width: 768px){
    .cardes{
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-left: 18px;
      }

      .ibagemCar2{
        width: 100%;
        height: 70vh;
      }

      .ibagemCard{
        width:100%;
        height: 70vh;
      }

      .vermais{
        margin-left: 70%;
      }
      .destaques{
        height: 100%;
    
        }

        /* para descolar o carousel do topo */
        .invisivel{
      
          width: 100%;
          height: 10vh;
        }

      .ajusteRecomendado{
        flex-direction: column;
      }

  }
  
  .teste{
    overflow: scroll;
  }
  /*fim tamnho */ 

  /*FIM RECOMENDADOS */



  /* ==========GENERO========*/ 

.genero{
    margin-top: 70px;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;  

}

.generoImage{
    background-color: #123430;
    border: 5px solid #1E7364;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.imageGenero{  
    cursor: pointer;
    width: 190px;
    border-radius: 5px;
    background-color: violet;
}


/* container de todas as imagens */
.containerImage{
    margin-top: 10px;
    margin-left:50px ;
    width: 100%;
    height: 86%;

}

/* espaço da div terror e misterio */
.espaco{
    padding-top:30px;
    
}


/* espaçamento do tiutlo */
.tituloGenero{   
    color: rgba(0, 255, 255, 0.736);
    font-size: 3rem;

}

@media only screen and (max-width: 768px){
  .tituloGenero{
   margin-top: -20%;

  }

  .containerImage{
    margin-bottom: 20%;
    height: auto;
  }

  .generoImage{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*fim do genero */


/* =======INICIO POSTADOS RECENTE======= */


/* caixa principal */
.recente{
  margin-top: 50px;
  height: 80vh;
  border-radius: 10px;
}

/* área que o card ocupa na principal */
.main-cardez{
  height: 68vh;
  gap: 10px;
}
/* troca o tamanho do card que não tiver width na class */
.custom-width{
  width: 11.5rem;
}

@media only screen and (max-width: 768px){
  .recente{
    
    margin-top: 50px;
    height: 62vh;
    border-radius: 10px;
  }
  
  .main-cardez{
    height: 50vh;
    gap: 10px;
    margin-top: -30px; 
  }

  .dentroiamge{
    height: 30vh;
    
  }

  .cardtamanho{
    height: 50px;
  }


  /* troca o tamanho do card */
  .custom-width{
    width: 12rem;
  }
}

.custom-width2{
  width:10rem;
}

/* =====fim disponiveis===== */







/* =====INICIO AUTORES===== */


/* tamanho do container */
.mainAutores{
  
  height: 90vh;
  width: 70%;
  margin-left: 17%;
}
/* Tamanho do container filho  */
.cardpai{
  width: 90;
  height: 80vh;
  overflow-y: scroll;
}


/* ====FIM AUTORES ===== */



/* =====INICIO FOOTER===== */

/* div de para forma o retangulo  */
.cadastroEmail{
  margin-top: 50px;
  background-color: rgb(108, 108, 118);
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 9vh;
  gap: 30px;
}


/* tamnho da fonte */
.tituloEmail{
  font-size: 2rem;
  font-weight: 800;
  margin-left: 30px;
}


/* margin de cada texto e margin pra centralizar */
.texto{
  margin-top: 13px;
  margin-left: 30px;
}


/* div para forma o quadrado do footer */

.infoFooter{
  background-color: rgb(29, 115, 139);
  height:auto;
  align-items: center;
}

.caixaDoFooter{
  display: flex;
  gap: 120px;
  margin-left: 20%;
  margin-bottom: 2%;
}

.Institucional{

  margin-top: 5%;
}

li{
  list-style: none;
}

li>a{
  text-decoration: none;
  color: rgb(199, 199, 199);
  font-size: 15px;
  font-weight: 700;
}

.duvidas{
  margin-right: 54px;
}

@media only screen and (max-width: 768px){
.infoFooter{
  display: flex;
  flex-direction: column;
}

.caixaDoFooter{
gap: 20px;
flex-direction: column;
margin-left: -3%;
}

}










@media only screen and (max-width: 768px){
    /* div cinza */
  .cadastroEmail{
    height: 40vh;
    display: flex;
    flex-direction: column;
  }
  /* titulo partece cinza */
  .tituloEmail{
    font-size: 3rem;
    margin-left:10px;
  }
    /* texto do cadastro de email */
  .texto{
    font-size: 2rempx;
  }




  /* tamanho do input */

  .inpurte{
    width:30%;
  }

  .infoFooter{
    background-color: #1d738b;
    height: 100%;
  }

  .duvidas{
    margin-right: 44px;
  }

  .duvidaMain{
    margin-left: 100px;
  }

}
@media only screen and (max-width: 768px){
    .imageGenero{
        cursor: pointer;
        width: 150px;
    }

    .containerImage{
        margin-left:0px ;
        width: 100%;
        height: 67vh;
    }

    .generoImage{
        background-color: #123430;
        border: 5px solid #1E7364;
        display: flex;
        align-items: center;
        border-radius: 10px;
    }

    .tituloGenero{
    
        margin-top: 80px;
        font-size: 3rem;

    }
}

@media only screen and (max-width: 768px){
    .imageGenero{
        cursor: pointer;
        width: 110px;
    }

    .genero{
        width: 20vh;
        display: flex;
        align-items: center;
        height: 60vh;
    }
    .containerImage{
        width: 100%;
        height: 100%;
        margin-top: 150px;
    }

    .generoImage{
        background-color: #123430;
        border: 5px solid #1E7364;
        display: flex;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .tituloGenero{
    
        margin-top: 50px;
        font-size: 3rem;

    }

}


/*FIM GENERO */

/* Todos os direitos reservados */

.footer_copyright{
  background-color: #18596b;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 0.9rem;
  padding-bottom: 10px;
}

/*POSTADOS RECENTE*/

