
*{
    max-width: 100%;
}
/*Inicio topo parte 1 */
.Main-topo{
    display: none;
    justify-content: space-around;
  
}



.titulo{
    text-align: center;
    align-items: center;
    display: flex;
}

.selta {
    padding-top: 10px;
}

/*Fim topo parte 1 */




/*Inicio Perfil parte 2 */


.perfil-main{
    
    margin-top: 40px;
    display: flex;
    align-items: center;
    height: 33vh;
    justify-content: center;
    gap: 50px;
}

.image_perfil>img {
    width: 15vw;
}
.image_perfil{

   margin-left: 90px;
}

/* TEXTOS DO PERFIL  */

.textos_perfil{
    margin-bottom: 70px;
}

/* PAÉL */
.nickprinciapal{
    font-size: 5rem;
    padding-top: 40px;
}

.descricao{
    margin-top:-40px;
}
.incremento{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.editarperfil{
margin-left: 180px;
background-color: #0c5757;
width: 50%;
border-radius: 5px;
text-align: center;
cursor: pointer;
}

/*Fim Perfil parte 2 */

.juntarDiv{
    display: flex;
}


/*estrelas parte 3 */

.estrelas {

    display: flex;
    width: 100%;
    justify-content: center;
}

.estrelas>img {
    width: 250px;
}

/* fim das estrelas parte 3*/
















/* ===============================================================CARDES DISPONIVEL PARA TROCA E LEITURA RECENTE ============================================================*/

*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* DID PAI LEITURA RECENTE E DISPONIVEL PARA TROCA  */
.Main2Card{
    display: flex;
    align-items: center;
    margin-top: 40px;
    height: 55vh;
    width: 100%;
}


/* DIV DO BLOCO LEITURA RECENTE  */
.leituraRecente{
    background-color: #0c5757;
    width: 50%;
    height: 50vh;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}




/* CONTAINER DA IMAGENS */

.imagemCardRecente{
    gap: 20px;
    display: flex;
    margin-top: 35px;
}


/* TODAS AS IMAGENS DO LEITURA RECENTE  */
.ImgRecente{
    

}

/* DIV PARA CONTROLARS FORMATO E TAMNHO DAS IMAGENS  */
.ImgRecente>img{
    width:120px;
    border-radius: 10px;
}





/* ================BLOCO PARTE 2 DOS CARDS =================================== */


/* CONTAINER DO CARD DISPONÍVEL PARA TROCA   */

.leituraTroca{
    background-color: #0c5757;
    width: 50%;
    height: 50vh;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}

.imagemCardTroca{
    margin-top: 30px;
    display: flex;
    gap: 60px;
}
/* CONTAINER DE CADA IMAGENS DO CARD TROCA    */
.imagemTroca{
    margin-top: 0px;
}

/* MUDAR TAMANHO E FORMATO DA IMAGEM */
.imagemTroca>img{
    width: 100px;
    border-radius: 10px;
}





/* =========================CONTAINER DA ESCRITA ======================= */

.escrita{
    border-radius: 10px;
    margin-top: 7px;
    background-color: #3497976b;
    width: 89%;
    height: 10vh;
}

.espamentoEscrita{
    margin-top: 10px;
}




/* ============================RESPONSIVIDADE CELULA ================================*/


@media screen and (max-width: 768px) {

    *{
        max-width: 100%;
    }
/* DID PAI LEITURA RECENTE E DISPONIVEL PARA TROCA  */
.Main2Card{
    width: 130%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

/* DIV DO BLOCO LEITURA RECENTE  */
.leituraRecente{
width: 98%;
height:27vh;
margin-right: 10px;
}

/* CONTAINER DA IMAGENS */

.imagemCardRecente{
    margin: 5px;
    height: 30vh;
    justify-content: center;
    align-items: center;
}

/* TODAS AS IMAGENS DO LEITURA RECENTE  */
.ImgRecente{
    

}

/* =========================CONTAINER DA ESCRITA TROCA ======================= */

.escrita{
        width:86vw ;
        height: 8vh;
        margin-top: 20px;
        
}

.espamentoEscrita{
    margin-left: 29px;
}

.titulocarde{
    margin-top: 20px;
}

.titulocardeTroca{
   padding-top: 10px;
}
/* =====================CARD TROCA CELULA RESPONSIVO ================== */

/* CONTAINER IMAGENS DO CARD TROCA  */

.leituraTroca{
    height: 36vh;
    width: 98%;
    margin-right: 10px;
}


/* CONTAINER IMAGENS DO CARD TROCA  */

.leituraTroca{
    margin-top: 10px;
}
.imagemCardTroca{
    gap: 20px;
}


/* =================================FIM CARDES DISPONIVEL PARA TROCA E LEITURA RECENTE =========================================================================== */


/* esconder */
.incremento{
    display: none;
}

.perfil-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 40vh;
}

.image_perfil{
    margin-right: -88px;
}
.image_perfil>img {
    margin-top: 170px;
    margin-right: 120px;
    padding-right: 30px;
    width: 130px;
}

.textos_perfil{
    margin-bottom: 168px;
    height: 20vh;
}

.nickprinciapal{
    margin-top: -100px;
    margin-left: 140px;
}

.descricao{
margin-left: 139px;
}

.biografia{
    margin-left: 60px;
}

.Main-topo{
    display: flex;
    justify-content: space-between;
}

.titulo{
    margin-left: 10px;
}
}